---
import Layout from '@/layouts/Layout.astro';
---

<Layout seo={{ title: "Proyectos", description: "Conoce todos nuestros proyectos de vivienda en Colombia" }}>
  <main>
    <h1>Proyectos</h1>
  </main>
</Layout>
